---
layout: default
---
{% include header-all.html %}
<div class="max-wrap">
	{% for post in site.posts limit: 3 %}
  	<div class="thumb-wrap">
		  <a href="{{post.url}}" class="med-thumb thumb" style="background: url(/assets/thumbs/post-{{post.num}}.jpg) no-repeat 50% 50%; background-size: cover;">
		    <div class="thumb-cover">
		    	<div class="v-center">
			      <h2 class="thumb-title">{{ post.title }}</h2>
			      <hr class="thumb-divide">
			      <h3 class="thumb-date">{{ post.date | date: "%B %d, %Y" }}</h3>
		    	</div>
		    </div>
		  </a>
	  </div>
  {% endfor %}
 </div>